<p id="notice"><%= notice %></p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @order.billing_address %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @order.product_price %>
</p>

<p>
  <strong>Delivery cost:</strong>
  <%= @order.delivery_cost %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @order.final_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Order description:</strong>
  <%= @order.order_description %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
